In [474]:
import json
import requests
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/main/TelecomX_Data.json'
response = requests.get(url)
data = response.json()
df = pd.json_normalize(data)
print(df.dtypes)
print('------------------------------------------------------------------------------------')
print(df.isnull().sum())
print('------------------------------------------------------------------------------------')
df.describe()
#No hay datos nulos ni anidaciones por tratar.

customerID                    object
Churn                         object
customer.gender               object
customer.SeniorCitizen         int64
customer.Partner              object
customer.Dependents           object
customer.tenure                int64
phone.PhoneService            object
phone.MultipleLines           object
internet.InternetService      object
internet.OnlineSecurity       object
internet.OnlineBackup         object
internet.DeviceProtection     object
internet.TechSupport          object
internet.StreamingTV          object
internet.StreamingMovies      object
account.Contract              object
account.PaperlessBilling      object
account.PaymentMethod         object
account.Charges.Monthly      float64
account.Charges.Total         object
dtype: object
------------------------------------------------------------------------------------
customerID                   0
Churn                        0
customer.gender              0
customer.SeniorCitizen       0
customer.Partner             0
customer.Dependents          0
customer.tenure              0
phone.PhoneService           0
phone.MultipleLines          0
internet.InternetService     0
internet.OnlineSecurity      0
internet.OnlineBackup        0
internet.DeviceProtection    0
internet.TechSupport         0
internet.StreamingTV         0
internet.StreamingMovies     0
account.Contract             0
account.PaperlessBilling     0
account.PaymentMethod        0
account.Charges.Monthly      0
account.Charges.Total        0
dtype: int64
------------------------------------------------------------------------------------

       customer.SeniorCitizen  customer.tenure  account.Charges.Monthly
count             7267.000000      7267.000000              7267.000000
mean                 0.162653        32.346498                64.720098
std                  0.369074        24.571773                30.129572
min                  0.000000         0.000000                18.250000
25%                  0.000000         9.000000                35.425000
50%                  0.000000        29.000000                70.300000
75%                  0.000000        55.000000                89.875000
max                  1.000000        72.000000               118.750000

#Verificar Valores columnas

## customer.tenure y account.Charges.Total

In [475]:
print('Se encontraron 11 valores vacíos en TotalCharges correspondientes a clientes con tenure = 0. \n Dado que estos clientes aún no han generado cargos efectivos, se imputara el valor 0 para evitar sesgos en el análisis posterior: \n')

print('COSTUMER.Tenure: \n')
print(df['customer.tenure'].unique())

print(df['customer.tenure'].value_counts())
print('------------------------------------------------------------------------------------')

print('account.Charges.Total: \n')
print(df['account.Charges.Total'].unique())

print(df['account.Charges.Total'].value_counts())



print('------------------------------------------------------------------------------------\n \n')

df[df['account.Charges.Total'] == ' ']

filtro_account_charges_total = df['account.Charges.Total'] == ' '
df.loc[filtro_account_charges_total, 'account.Charges.Total'] = 0
print(df['account.Charges.Total'].value_counts())
print('------------------------------------------------------------------------------------\n \n')
df['account.Charges.Total']= df['account.Charges.Total'].astype(float)
print('------------------------------------------------------------------------------------\n \n')
df.info()

Se encontraron 11 valores vacíos en TotalCharges correspondientes a clientes con tenure = 0.
 Dado que estos clientes aún no han generado cargos efectivos, se imputara el valor 0 para evitar sesgos en el análisis posterior:

COSTUMER.Tenure:

[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
customer.tenure
1     634
72    369
2     246
3     207
4     185
     ...
28     60
39     59
44     54
36     50
0      11
Name: count, Length: 73, dtype: int64
------------------------------------------------------------------------------------
account.Charges.Total:

['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']
account.Charges.Total
20.2       11
           11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64
------------------------------------------------------------------------------------


account.Charges.Total
20.2       11
0          11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64
------------------------------------------------------------------------------------


------------------------------------------------------------------------------------


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   int64
 4   customer.Partner           7267 non-null   object
 5   customer.Dependents        7267 non-null   object
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

## Churm

In [476]:
df['Churn']
df['Churn'] = df['Churn'].map({'Yes': True, 'No': False})
df['Churn']= df['Churn'].astype(bool)
df['Churn'].value_counts()
# de 7267 usuarios se perdieron 2093 = 28,8 %

Churn
False    5174
True     2093
Name: count, dtype: int64

##customer.SeniorCitizen

In [477]:
df['customer.SeniorCitizen']
df['customer.SeniorCitizen'] = df['customer.SeniorCitizen'].map({1: True, 0: False})
df['customer.SeniorCitizen']= df['customer.SeniorCitizen'].astype(bool)
df['customer.SeniorCitizen'].value_counts()

customer.SeniorCitizen
False    6085
True     1182
Name: count, dtype: int64

##customer.SeniorCitizen

In [478]:
df['customer.Dependents']
df['customer.Dependents'] = df['customer.Dependents'].map({'Yes': True, 'No': False})
df['customer.Dependents']= df['customer.Dependents'].astype(bool)
df['customer.Dependents'].value_counts()

customer.Dependents
False    5086
True     2181
Name: count, dtype: int64

##customer.Partner

In [479]:
df['customer.Partner']
df['customer.Partner'] = df['customer.Partner'].map({'Yes': True, 'No': False})
df['customer.Partner']= df['customer.Partner'].astype(bool)
df['customer.Partner'].value_counts()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   bool
 2   customer.gender            7267 non-null   object
 3   customer.SeniorCitizen     7267 non-null   bool
 4   customer.Partner           7267 non-null   bool
 5   customer.Dependents        7267 non-null   bool
 6   customer.tenure            7267 non-null   int64
 7   phone.PhoneService         7267 non-null   object
 8   phone.MultipleLines        7267 non-null   object
 9   internet.InternetService   7267 non-null   object
 10  internet.OnlineSecurity    7267 non-null   object
 11  internet.OnlineBackup      7267 non-null   object
 12  internet.DeviceProtection  7267 non-null   object
 13  internet.TechSupport       7267 non-null   object
 14  internet.StreamingTV       7267 non-null   object
 15  internet.StreamingMovies   7267 non-null   object
 16  account.Contract           7267 non-null   object
 17  account.PaperlessBilling   7267 non-null   object
 18  account.PaymentMethod      7267 non-null   object
 19  account.Charges.Monthly    7267 non-null   float64
 20  account.Charges.Total      7267 non-null   float64
dtypes: bool(4), float64(2), int64(1), object(14)
memory usage: 993.7+ KB

#Dataframe abandonos

In [480]:
df_abandonos=df[df['Churn']==True].copy()
df_abandonos.value_counts().sort_values(ascending=False)
df_abandonos.drop(columns=['customerID','Churn'],inplace=True)
print(df_abandonos['account.Contract'].value_counts())
print("\n -------------------------------------------------")
print(df_abandonos['customer.tenure'].value_counts())
print("Se encontro una fuga enorme antes de los primeros 6 meses de contrato del usuario")
print("\n")
print(df_abandonos['customer.tenure'].mean())
print("\n")
print(" MEDIA MUCHO MAS BAJA QUE EN EL DATAFRAME DE CLIENTES QUE NO ABANDONARON EL SERVICIO: \n MEDIA DE TENURE ABANDONOS: \n 19.43\n MEDIA DE TENURE DE NO ABANDONOS:\n 37.56")
print("\n -------------------------------------------------")
print("Contratos con mas abandonos: Month-to-month\nCon menos abandonos: Month-to-month ")
print(df_abandonos['account.PaymentMethod'].value_counts())
print("\n migrar a los usuarios que pagen con Electronic check a otro medio de pago podria ayudar")
print("\n -------------------------------------------------")
print(df_abandonos['internet.InternetService'].value_counts())
print("Fibra Optica presenta mas del doble de abandonos de DSL, puede ser un problema tecnico")
print("\n -------------------------------------------------")
abandonos_internet = df_abandonos['internet.InternetService'].value_counts()
total_internet = df['internet.InternetService'].value_counts()

riesgo_internet = (abandonos_internet / total_internet) * 100
print(f"El riesgo de abandono por servicio de internet es de: \n{riesgo_internet.sort_values(ascending=False)}")

print("\n -------------------------------------------------")
abandonos_medio_pago = df_abandonos['account.PaymentMethod'].value_counts()
total_medio_pago = df['account.PaymentMethod'].value_counts()

riesgo_medio_pago = (abandonos_medio_pago/ total_medio_pago) * 100
print(f"El riesgo de abandono por tipo de contrato es de: \n{riesgo_medio_pago.sort_values(ascending=False)}")
print("\n -------------------------------------------------")
abandonos_contratos = df_abandonos['account.Contract'].value_counts()
total_contratos = df['account.Contract'].value_counts()

riesgo_contratos = (abandonos_contratos / total_contratos) * 100
print(f"El riesgo de abandono por tipo de contrato es de: \n{riesgo_contratos.sort_values(ascending=False)}")
print("\n -------------------------------------------------")
print("En resumen seria recomendable buscar contratos de 2 años (menor riesgo de abandono), incentivar cambiar el medio de pago de Electronic check (mas riesgoso) a Credit card (automatic), y revisar el servicio de fibra optica.")

account.Contract
Month-to-month    1785
One year           212
Two year            96
Name: count, dtype: int64

 -------------------------------------------------
customer.tenure
1     401
2     131
3     101
4      92
5      69
     ...
45      8
62      8
60      7
64      7
63      5
Name: count, Length: 72, dtype: int64
Se encontro una fuga enorme antes de los primeros 6 meses de contrato del usuario


19.433827042522694


 MEDIA MUCHO MAS BAJA QUE EN EL DATAFRAME DE CLIENTES QUE NO ABANDONARON EL SERVICIO:
 MEDIA DE TENURE ABANDONOS:
 19.43
 MEDIA DE TENURE DE NO ABANDONOS:
 37.56

 -------------------------------------------------
Contratos con mas abandonos: Month-to-month
Con menos abandonos: Month-to-month
account.PaymentMethod
Electronic check             1151
Mailed check                  361
Bank transfer (automatic)     303
Credit card (automatic)       278
Name: count, dtype: int64

 migrar a los usuarios que pagen con Electronic check a otro medio de pago podria ayudar

 -------------------------------------------------
internet.InternetService
Fiber optic    1399
DSL             526
No              168
Name: count, dtype: int64
Fibra Optica presenta mas del doble de abandonos de DSL, puede ser un problema tecnico

 -------------------------------------------------
El riesgo de abandono por servicio de internet es de:
internet.InternetService
Fiber optic    43.746091
DSL            21.141479
No             10.626186
Name: count, dtype: float64

 -------------------------------------------------
El riesgo de abandono por tipo de contrato es de:
account.PaymentMethod
Electronic check             47.075665
Mailed check                 21.681682
Bank transfer (automatic)    19.068597
Credit card (automatic)      17.729592
Name: count, dtype: float64

 -------------------------------------------------
El riesgo de abandono por tipo de contrato es de:
account.Contract
Month-to-month    44.569288
One year          13.956550
Two year           5.507745
Name: count, dtype: float64

 -------------------------------------------------

#Dataframe clientes que no abandonaron

In [481]:
df_clientes=df[df['Churn']==False].copy()
df_clientes.value_counts().sort_values(ascending=False)
df_clientes.drop(columns=['customerID','Churn'],inplace=True)
print(df_clientes['account.Contract'].value_counts())
print("\n -------------------------------------------------")
print(df_clientes['customer.tenure'].value_counts())
print("\n -------------------------------------------------")
print(df_clientes['customer.tenure'].mean())
print("\n -------------------------------------------------")
print(df_clientes['account.PaymentMethod'].value_counts())
print("\n -------------------------------------------------")
print(df_clientes['internet.InternetService'].value_counts())

account.Contract
Month-to-month    2220
Two year          1647
One year          1307
Name: count, dtype: int64

 -------------------------------------------------
customer.tenure
72    356
1     233
71    164
2     115
70    108
     ...
44     45
28     45
39     42
36     40
0      11
Name: count, Length: 73, dtype: int64

 -------------------------------------------------
37.56996521066873

 -------------------------------------------------
account.PaymentMethod
Mailed check                 1304
Electronic check             1294
Credit card (automatic)      1290
Bank transfer (automatic)    1286
Name: count, dtype: int64

 -------------------------------------------------
internet.InternetService
DSL            1962
Fiber optic    1799
No             1413
Name: count, dtype: int64

#PENDIENTES
- AGRUPAR TERNURE EN RANGOS
- COMPARAR DF ABANDONO Y NO ABANDONO EN GRAFICO
- YA REVISE PROPORCIONES
- BORRAR LOS PRINT O ACOMODARLOS
- UNIFICAR ANALISIS